body {
    color: #191e2e;
    margin: 0;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    text-transform: uppercase;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.header-container {
    position: absolute;
    width: 100%;
    background-color: rgba(25,30,46,.9)
}

.header-wrapper {
    margin: 0 auto;
    max-width: 999px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#proof-case-logo {
    width: 300px;
    height: 300px;
}

.main-case {
    background-image: url(./pictures/proof-case-background.jpg);
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}

@media (max-width: 500px) {
    .main-case {
        background-image: url(./pictures/proof-case-background-mobile.jpg);
    }
}

.description-container {
    width: 100%;
    background-color: #f3713f
}

.description-wrapper {
    border-left: 2px solid #191e2e;
    border-right: 2px solid #191e2e;
    margin: 0 auto;
    max-width: 999px;
    width: 100%;
}

.description {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 799px;
    width: 100%;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.description h1 {
    font-size: 60px;
    margin: 0px;
}

.description h2 {
    font-size: 35px;
}

.description p {
    font-size: 18px;
    text-align: center;
}

.case-trio-container {
    display: flex;
    justify-content: flex-end;
}

.trio-img {
    flex: 1;
    width: 100%;
}

.order-container {
    width: 100%;
    background-color: #191e2e
}

.order-wrapper {
    margin: 0 auto;
    max-width: 999px;
    width: 100%;
}

.order {
    color: #f3713f;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    padding-top: 50px;
}

#order-disclaimer {
    font-size: 15px;
}

#order {
    font-size: 60px;
}

.pay-pal-wrapper {
    display: flex;
    margin-bottom: 25px;
}

.pay-pal { 
    font-size: 20px;
    margin: 50px;
    text-align: center;
}

.order-button {
    color: #191e2e;
    background-color: #f3713f;
    border: 1px solid #f3713f;
    width: 300;
    padding: 15px;
    border-radius: 48px;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

span {
    border-right: 2px solid #f3713f;
}

.footer-container {
    width: 100%;
    background-color: #f3713f
}

.footer-wrapper {
    border-left: 2px solid #191e2e;
    border-right: 2px solid #191e2e;
    margin: 0 auto;
    max-width: 999px;
    width: 100%;
}

.footer {
    color: #191e2e;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 799px;
    width: 100%;
    align-items: center;
    padding-top: 50px;
    word-spacing: 5px;
}

.email-button {
    color: #f3713f;
    background-color: #191e2e;
    border: 1px solid #191e2e;
    width: 300;
    padding: 10px;
    border-radius: 48px;
    font-size: 27px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.footer h1 {
    letter-spacing: 3px;
    font-size: 60px;
    margin-bottom: 0px;
}

.footer h2 {
    font-size: 35px;
    margin: 15px;
}

.footer p {
    font-size: 18px;
    text-align: center;
    padding-bottom: 10px;
}

#copyright {
    padding-top: 250px;
    font-size: 15px;
}

@media screen and (max-width: 999px){
    #mep_0 {
        display: block;
      }
    }